In [1]:
! pip install patool

Requirement already satisfied: patool in /Users/xi/opt/anaconda3/lib/python3.8/site-packages (1.12)

In [2]:
import patoolib
import pandas as pd

In [4]:
# import patoolib
# patoolib.extract_archive("archive (1).zip") #unzipping the datafiles 
# patoolib.extract_archive("archive (2).zip")
# patoolib.extract_archive("archive (3).zip")

In [3]:
tech = pd.read_csv('tech.csv') # putting all of these datasets in their unique data frames
student = pd.read_csv('student (1).csv')
music= pd.read_csv('music_and_mental_heath_survey.csv')

In [4]:
len(tech)

1259

In [5]:
len(student)

100

In [9]:
len(music)

736

In [9]:
# music.head() - we might not need to use music

In [6]:
student.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [7]:
tech = pd.read_csv('tech.csv')

In [8]:
us_tech_mental = tech[tech["Country"] == 'United States'] #subsetting the data for the location to be in the united states 
us_tech_mental

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,2014-08-27 11:29:31,37,Female,United States,IL,NaN,No,Yes,Often,6-25,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,2014-08-27 11:29:37,44,M,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
4,2014-08-27 11:30:22,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
5,2014-08-27 11:31:22,33,Male,United States,TN,NaN,Yes,No,Sometimes,6-25,...,Don't know,No,No,Yes,Yes,No,Maybe,Don't know,No,NaN
6,2014-08-27 11:31:50,35,Female,United States,MI,NaN,Yes,Yes,Sometimes,1-5,...,Somewhat difficult,Maybe,Maybe,Some of them,No,No,No,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2015-08-25 19:59:38,36,Male,United States,UT,No,Yes,No,Rarely,More than 1000,...,Somewhat easy,Maybe,Maybe,Some of them,Some of them,No,No,Don't know,No,NaN
1255,2015-09-26 01:07:35,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1256,2015-11-07 12:36:58,34,male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1257,2015-11-30 21:25:06,46,f,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1258,2016-02-01 23:04:31,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [9]:
us_tech_mental['Gender'].unique() #before the value name changes for the dataframe

array(['Female', 'M', 'Male', 'female', 'male', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'Cis Male', 'm', 'f',
       'Male (CIS)', 'queer/she/they', 'non-binary', 'Femake', 'woman',
       'Make', 'Nah', 'Genderqueer', 'Female ', 'Woman',
       'cis-female/femme', 'Male ', 'Trans woman', 'Man', 'msle',
       'Female (trans)', 'Female (cis)', 'Mail', 'cis male', 'p',
       'femail'], dtype=object)

In [32]:
# Replace values in the 'Quarter' column
us_tech_mental['Gender'].replace({'M': 'Male', 'female': 'Female', 'male': 'Male', 'Male-ish': 'Male', 'maile': 'Male', 'Cis Female': 'Female', 'f': 'Female', 'Male (CIS)': 'Male',
                                  'Trans-female':'Queer', 'Nah': 'Unindentified', 'cis-female/femme':'Female', 'Trans woman':'Queer', 'Man': 'Male','msle': 'Queer', 'Female (trans)': 'Queer', 'Female (cis)': 'Female', 'Mail': 'Male', 'cis male': 'Male', 'p': 'Queer','femail': 'Female',
                                  
                                  'queer/she/they': 'Queer', 'non-binary': 'Non-binary', 'Genderqueer': 'Queer', 'Woman': 'Female', 'Make': 'Male', 'Femake': 'Female', 'woman': 'Female', 'Male (CIS)': 'Male',
                                  'F': 'Female', 'Cis Male': 'Male', 'm': 'Male', 'Non-binary': 'Queer', 'Female ': 'Female', 'Male ': 'Male'                                 
                                        
                                 }, inplace=True)

In [33]:
us_tech_mental['Gender'].replace({'Non-binary':'Queer'},inplace=True)

In [34]:
us_tech_mental['Gender'].unique() #after the value name changes for the dataframe

array(['Male', 'Female', 'Queer'], dtype=object)

In [35]:
us_tech_mental['self_employed'].unique() #need to remove nan

array(['No', 'Yes'], dtype=object)

In [36]:
us_tech_mental['family_history'].unique()

KeyError: 'family_history'

In [37]:
us_tech_mental['work_interfere'].unique() #need to remove nan

array(['Rarely', 'Sometimes', 'Often', 'Never'], dtype=object)

In [38]:
us_tech_mental['comments'].unique() #need to remove nan

array(['Relatively new job. Ask again later',
       'Sometimes I think  about using drugs for my mental health issues. If i use drugs I feel better',
       'I selected my current employer based on its policies about self care and the quality of their overall health and wellness benefits. I still have residual caution from previous employers who ranged from ambivalent to indifferent to actively hostile regarding mental health concerns.',
       "Our health plan has covered my psychotherapy and my antidepressant medication. My manager has been aware but discreet throughout. I did get negative reviews when my depression was trashing my delivery but y'know I wasn't delivering.",
       "I just started a new job last week hence a lot of don't know's",
       "I've seen negative consequences towards mental health conditions in previous workplaces.Working remote is empowering in this way.",
       "Had a co-worker disappear from work for a few weeks and then come back to let everyone know he was bipolar. His responsibilities and schedule were adjusted to accommodate but he got worse didn't show up didn't work etc and was eventually let go.It was tough because on the one hand he was struggling with some mental health issues but on the other hand he went through a period of months where he wasn't performing.",
       "Family history of depression.  Currently dealing with depression and anxiety as well as drug addition.Employer provides & pays premiums on insurance which covers therapy and prescriptions.  Employer allows work-from-home and unlimited PTO which makes episodes easier to control.I don't speak of my problems to anyone at work except for the people that I consider friends and even then I don't go into great detail.I would never bring up a mental health issue during an interview for fear of discrimination and rejection (and therefore greater depression).  One co-worker had serious anxiety problems and would not inform his team of episodes and was eventually let go for being unresponsive.",
       "Many of these questions become irrelevant once 'Yes' is selected for 'Are you self-employed'.  It would be preferable for there to be a 'Not Relevant' option on these.",
       "I am not sure about my company's healthcare because I've opted out of it and I'm covered under another policy.I currently work at a great company though in past jobs I don't think I would have felt comfortable talking about mental health at all.",
       'In small startups it is very hard to keep mental health issues truly private no matter what management does.',
       "My seniority at the company and rapport with the owners has helped me gain support for seeking help regarding my mental health as well as being able to take time off or work from home when an episode starts.However I don't feel that the company's stance on mental health is as clear as say something like vision or dental.  There's very much a stigma.",
       'Many of these questions were difficult to answer as a self-employed person; I did my best with the available options.',
       'A strong mind goes a long way. Stay strong. Take some time off to help. Its all in your head. ',
       'I found it difficult to answer all of the questions effectively as many of them would depend on the nature of the mental health issues as some seem more socially accepted than others. For some people telling your current supervisor that you have a history of bi-polar disorder might be easier than telling a potential employer that you have a history of compulsive gambling. They might both be bits of irrelevant information (past behavior and not indicators of future behavior). However western culture pushes us to appear as capable as possible to our supervisors in pursuit of excellence in our work. Providing information that could create a negative bias seems like a more genuine and yet more risky approach to the discussion.',
       'I have only discussed my mental illness with close family members. I feel completely uncomfortable discussing with anyone at my place of employment as I am concerned it would have negative consequences.',
       'No benefits at this organization but my employer/direct supervisor has had positive and constructive conversations with me about physical and mental health. Supervisor offered solutions advice time/energy to get help if I ever felt that needed it. (though it would have to be at my own expense). I feel safe sharing personal info with this particular person/company but this environment is the exception rather than the norm in my 15+ years as a tech worker. I would never feel safe enough to reveal info about any mental health concerns with any previous employers in the tech industry for fear of  negative perceptions job loss performance dings etc. ',
       'I think I am very lucky in my workplace. Our CEO has a degree in psychology.',
       'The form of mental health problem that I suffer is anxiety.',
       'The thought of going through my employer directly to get help is fucking scary.Getting help is the hardest part of getting help.',
       "Regardless of a stated lack of negative consequences for discussing mental health issues with coworkers/superiors unconscious bias is a very real thing - as long as I don't *need* to inform my co-workers my mental health issues do not need to be public knowledge.",
       'YOU MAY WANT TO THROW OUT MY ENTRY.I answered all of these questions with the assumption that Attention Deficit Disorder is considered a mental illness and with ADD in mind.',
       'My refer to the mental health issue of depression.  I might answer differently if I was talking about a more serious issue like schizophrenia',
       'My employer does what they can providing a wellness program and pointing it out after particularly stressful times. But the interaction between the wellness program and the medical insurance is unpleasant and finding a long-term therapist / psychiatrist covered by insurance is amazingly difficult. My current lack of active treatment is due to insurance friction more than workplace friction.',
       'I work for a university.',
       "I'm troubled by the way that our hiring process tends to filter out non-neurotypicals of all stripes. Competent people who act a little funny can be hard to hire.",
       "I talked to a psychiatrist once about taking medical leave for mental health issues with his referral. He was willing to help but warned me that I may not want to as he's seen that sort of thing follow people throughout their tech careers (word gets out even if it's confidential at work). I've been terrified of bringing mental health up anywhere that coworkers or potential employers could see ever since.",
       'So much depends upon the organization. ',
       "Now at starutp.  Previously worked at big tech company which was actually quite good at supporting mental health issues.  Still wouldn't share with bosses/other employees though as there remains a strong negative stigma.",
       "I currently have the best managers I've ever worked with. I don't have any issues but one of my coworkers recently did and it was handled extremely well. ",
       "Stigma is the worst. People first language is a small step but we can't get that right.",
       'I work for an extremely supportive company and we are amazingly open about mental health issues. Employees often share their struggles with the whole team and receive a high level of support in return.',
       'Mental health issue I have dealt with: acute depression',
       'Thanks for doing this. It will help end the stigma!',
       'It has come to interfere with work as life progresses.Between burn out and enduring more of the work and balancing a family. Changes in my mental health have a larger pond to make ripples in.',
       "Because I'm self-employed and the only person in my organization I would have liked a not applicable option. I don't want my answers to be misleading.",
       "I work for a very small firm that doesn't really have a dedicated H/R person. Also for the question:If you have a mental health condition do you feel that it interferes with your work?...I don't have a diagnosed mental health condition but I suspect I might have some slight depression issues. Definitely have Imposter Syndrome.",
       "I went through a divorce and was pretty depressed I went to therapy and my boss (one of the owners) was extremely supportive. I'm not sure I would have got through that rough time with out my co-workers and boss.",
       "I'm diagnosed with Bipolar Disorder. My benefits for mental health exist but are terrible. The deductible is $800. I see a therapist once or twice a month at the cost of $150. The insurance company only values it at $40. My psychiatrist is $180 for 15 minutes. The insurance company values it at $80. It is IMPOSSIBLE to hit my deductible. I don't even bother making the claims.",
       "thanks for what you're doing. FYI these questions dont quite work for entrepreneurs where employer == cofounders / sr mgmt / me",
       "I mostly suffer from social anxiety which keeps me from attending conferences. In my small dev group a big problem is a supervisor who's a workaholic and will never say no when asked to do something so he's doing the job of at least two ppl (poorly) and working crazy hours setting the tone for the test of us that work/life balance isn't important.",
       "I am a 15 year vet of the industry and I get 2 weeks of combined sick and vacation time a year and I have children to fit into that too. I've had heart problems from the stress. Fuck everything about startup culture. ",
       "Since I am the CEO of my startup some of the would you feel comfortable and do you know the policy questions are interesting.  Of course I feel comfortable since no one can fire me and I know the policies because I chose them!However now I am curious if my employees know just how supportive the company would be of their mental health needs and this survey is making me realize that we probably haven't done a great job communicating that to everyone.  Thanks for doing this.",
       "I work for the state so the health plan is large and cumbersome.  I believe it covers most medical as a state benefit but I haven't seen any promotion of it.  And it's not really the same as a tech company where I am.  We are an IT department but hardly run like any tech company around.",
       'I have Narcolepsy and have been fired from a job before for falling asleep standing up during a meeting. I was standing up in the back of the room so that i could pace and try to prevent myself from falling asleep. I still managed to fall asleep while standing and fell over against the wall. I was fired the next day. The worst part is this is a condition i had given months of notice about to my boss and i reminded her of it before the meeting. I worked at a hospital at the time. I would have thought that they would be more accommodating.',
       "My current work situation was constructed in part because of my mental health issues. One of the reasons I'm self employed is to give me the most flexibility for coping with my mental health issues.I have been removed from a client project in the past because of a mental health condition. This was while I was an employee for a large consulting company. ",
       "I work for the state government. While things are slowly changing regarding covering mental health with state employees it's just not something that is acceptable in this kind of strict environment so I have to be careful about what I say and how I say it. I often take mental health days but have to call in with a physical illness because mental health problems are not acceptable excuses for using sick leave.",
       "It might be safe to talk about it where I am now but I don't know for sure and I err on the side of being over cautious. Struggle with depression and anxiety which sometimes affects my productivity but I try to make up / cover up for it instead of being open about it.",
       "I'm comfortable talking about mental health with my current supervisor & my immediate at my current job but this is a first for me!",
       'None of us who are already in marginal groups in tech--the non-young the non-male the non-white--will risk our careers to admit another source of stigma: poor health.',
       "I have been incredibly public about my own struggle in my own conversations and in social media insofar as how I can use my depression to raise awareness or help others. Because of that my employer - or any future employer - kind of knows by default. It's not a secret. That said the downside of that openness is that I have no faith that I wouldn't be discriminated against at a future job simply because the information is public. Likewise I worry I'm seen as less-than by my employer in some circumstances. Regerdless I don't regret being public and raising awareness. My point is that even those of us who do publicly discuss the issue fear systemic retribution. ",
       'At a previous employer I witness a bad thing happen to a coworker with mental health issues get swept under the rug... :(',
       'While not personally affected I do have immediate family with mental health illness and my employer has been very supportive. Thanks for doing this survey.',
       "The main reason for the openness answers are because of an experience with my last employer. I felt I could trust my direct supervisor so I divulged information. It ended up spreading to more supervisors and eventually my coworkers. Supers highly suggested treatment but rushed things that shouldn't have been rushed and I ended up being incorrectly treated in a psych ward and mentally scarred from the issue. I lost most of my desire to program due to the experience not to mention thousands of dollars I lost - lost work time vacation time they used for treatment time doctors expenses etc. I have major depressive disorder high anxiety and mild agoraphobia. After seeing what treatment has to offer I will likely not seek it again and continue as is. (Long story short.)",
       '(yes but the situation was unusual and involved a change in leadership at a very high level in the organization as well as an extended leave of absence)',
       "I would add that while there were negative consequences for coworkers with mental health they were given a HUGE amount of leeway.  I think the team at large tried their best to be kind but that's how the person suffered.  The company actually gave this person a lot of help.  Which was cool.  But the team still discriminated.",
       'Bipolar spectrum is tricky.',
       "A lot of these answers aren't really applicable since I'm self employed as a sole proprietor.",
       'While I have not seen any direct retaliation against people with known mental illness many people do freely use insults commonly associated with mental illness (r****d for example) and criticize people behind their back for taking extra leave for doctor appointments (Oh I bet they are just hung over or other comments about how lazy they are.)',
       '* Small family business - YMMV.',
       "I have an exceptional employer. I haven't run into problems with any employer I've had but consider myself lucky.",
       'Thank you for shining a light on this topic.',
       'While mental health is a part of our insurance program the UCR is 50% of 140% of medicare which means a solo mental health practitioner who will charge in my area $150-$180 a session will only result in a $45-$60 reimbursement and thus a very high out of pocket expense. This usage of a different schedule for UCR and often the lower rate is very hard to determine before purchasing insurance even in the new health insurance exchanges.',
       "My employer is extremely easy to work with and e.g. I have enormous leeway with flex time so I could take care of myself under that umbrella but I don't know and don't have a history of bring up mental health at the workplace so I am cautious in that area.",
       'I should note one of the places my employer fails with regards to mental health is that the company-paid health insurance policy does not cover trans healthcare needs.',
       "I've never heard of a workplace that would actually allow you to call off for mental health reasons. So many places require a doctor's note for calling off sick. It's all set up to make you feel worse if you can't just suck it up. Thanks for working to change this!!!",
       'This survey was tough as a self-employed individual. You may wish to discard responses from self employed people for much of your analysis.',

In [39]:
us_tech_mental.columns.unique()

Index(['Age', 'Gender', 'state', 'self_employed', 'treatment',
       'work_interfere', 'Number of Employees', 'remote_work', 'Tech Company',
       'seek_help', 'mental_health_consequence', 'comments'],
      dtype='object')

In [40]:
# Change column names
new_column_names = {'state': 'State', 'self_employed': 'Self Employed', 
                   
                   'work_interfere': 'Work Interfere',
                    'remote_work': 'Remote Work',
                    'seek_help': 'Seek Help',
                    'mental_health_consequence': 'Mental Health Consequence',
                    'comments': 'Comments'                   
                   }
us_tech_mental = us_tech_mental.rename(columns=new_column_names)

In [41]:
us_tech_mental = us_tech_mental.rename(columns={'no_employees':'Number of Employees', 'tech_company':'Tech Company'})

In [42]:
us_tech_mental = us_tech_mental.rename(columns={'treatment':'Treatment'})

In [43]:
us_tech_mental.head(3)

,Age,Gender,State,Self Employed,Treatment,Work Interfere,Number of Employees,Remote Work,Tech Company,Seek Help,Mental Health Consequence,Comments
24,33,Male,CA,No,Yes,Rarely,26-100,No,Yes,Yes,No,Relatively new job. Ask again later
25,35,Male,TN,No,Yes,Sometimes,More than 1000,No,No,Don't know,Yes,Sometimes I think about using drugs for my me...
33,42,Male,WA,No,Yes,Sometimes,26-100,Yes,Yes,Yes,Maybe,I selected my current employer based on its po...

In [44]:
us_tech_mental.drop(columns=['Country','Timestamp','phys_health_consequence','mental_health_interview','phys_health_interview','mental_vs_physical','leave','obs_consequence', 'anonymity','wellness_program','supervisor','coworkers', 'benefits','care_options'], axis=1, inplace=True)
# us_tech_mental.drop(columns=['anonymity','wellness_program'], axis=1, inplace = True)

#us_tech_mental.drop(columns=['supervisor','coworkers', 'self_employed', 'benefits','care_options'], axis=1, inplace = True)

KeyError: "['Country' 'Timestamp' 'phys_health_consequence' 'mental_health_interview'\n 'phys_health_interview' 'mental_vs_physical' 'leave' 'obs_consequence'\n 'anonymity' 'wellness_program' 'supervisor' 'coworkers' 'benefits'\n 'care_options'] not found in axis"

In [19]:
us_tech_mental.drop(columns='family_history', axis=1, inplace=True)

In [47]:
us_tech_mental.dropna(inplace=True)

In [48]:
us_tech_mental['comments'].unique() # i feel like these comments do not necesssarily show you whether these workers have mental health
# consequenes from their work

KeyError: 'comments'

In [49]:
us_tech_mental

,Age,Gender,State,Self Employed,Treatment,Work Interfere,Number of Employees,Remote Work,Tech Company,Seek Help,Mental Health Consequence,Comments
24,33,Male,CA,No,Yes,Rarely,26-100,No,Yes,Yes,No,Relatively new job. Ask again later
25,35,Male,TN,No,Yes,Sometimes,More than 1000,No,No,Don't know,Yes,Sometimes I think about using drugs for my me...
33,42,Male,WA,No,Yes,Sometimes,26-100,Yes,Yes,Yes,Maybe,I selected my current employer based on its po...
45,38,Female,TX,No,Yes,Sometimes,26-100,No,Yes,Yes,No,Our health plan has covered my psychotherapy a...
49,30,Male,IL,No,Yes,Rarely,26-100,No,Yes,Don't know,Maybe,I just started a new job last week hence a lot...
...,...,...,...,...,...,...,...,...,...,...,...,...
1186,56,Female,OR,Yes,No,Rarely,1-5,Yes,Yes,Don't know,Maybe,I'm self-employed on contract with small start...
1190,44,Male,OH,No,Yes,Sometimes,100-500,No,Yes,Yes,Maybe,My mental health issues were the direct result...
1219,38,Male,TX,No,Yes,Sometimes,More than 1000,Yes,Yes,Yes,No,I openly discuss my mental health struggles. I...
1221,46,Male,MD,No,Yes,Sometimes,100-500,Yes,Yes,Don't know,No,Just starting a new job hence the numerous I d...
1249,30,Male,CA,No,Yes,Sometimes,26-100,No,Yes,No,No,Bipolar disorder

In [22]:
# i feel like we can remove care options, wellness_program? 'mental_health_interview', 'phys_health_interview' mental_vs_physical

In [23]:
# what does 'anonymity' mean

In [24]:
# i feel like we can keep coworkers

In [46]:
print(tech.columns.tolist()) # i want to know if these people from the tech industry studied from college and if so, what is their major?

['Timestamp', 'Age', 'Gender', 'Country', 'state', 'self_employed', 'family_history', 'treatment', 'work_interfere', 'no_employees', 'remote_work', 'tech_company', 'benefits', 'care_options', 'wellness_program', 'seek_help', 'anonymity', 'leave', 'mental_health_consequence', 'phys_health_consequence', 'coworkers', 'supervisor', 'mental_health_interview', 'phys_health_interview', 'mental_vs_physical', 'obs_consequence', 'comments']

In [45]:
tech['tech_company'].unique()

array(['Yes', 'No'], dtype=object)

In [26]:
us_tech_mental = us_tech_mental.rename(columns={'no_employees':'Number of Employees', 'tech_company':'Tech Company'})

In [30]:
us_tech_mental = us_tech_mental.rename(columns={'no_employees':'Number of Employees', 'tech_company':'Tech Company'})

In [28]:
us_tech_mental_clean = us_tech_mental
us_tech_mental_clean

,Age,Gender,state,self_employed,treatment,work_interfere,no_employees,remote_work,tech_company,seek_help,mental_health_consequence,comments
24,33,Male,CA,No,Yes,Rarely,26-100,No,Yes,Yes,No,Relatively new job. Ask again later
25,35,Male,TN,No,Yes,Sometimes,More than 1000,No,No,Don't know,Yes,Sometimes I think about using drugs for my me...
33,42,Male,WA,No,Yes,Sometimes,26-100,Yes,Yes,Yes,Maybe,I selected my current employer based on its po...
45,38,Female,TX,No,Yes,Sometimes,26-100,No,Yes,Yes,No,Our health plan has covered my psychotherapy a...
49,30,Male,IL,No,Yes,Rarely,26-100,No,Yes,Don't know,Maybe,I just started a new job last week hence a lot...
...,...,...,...,...,...,...,...,...,...,...,...,...
1186,56,Female,OR,Yes,No,Rarely,1-5,Yes,Yes,Don't know,Maybe,I'm self-employed on contract with small start...
1190,44,Male,OH,No,Yes,Sometimes,100-500,No,Yes,Yes,Maybe,My mental health issues were the direct result...
1219,38,Male,TX,No,Yes,Sometimes,More than 1000,Yes,Yes,Yes,No,I openly discuss my mental health struggles. I...
1221,46,Male,MD,No,Yes,Sometimes,100-500,Yes,Yes,Don't know,No,Just starting a new job hence the numerous I d...
1249,30,Male,CA,No,Yes,Sometimes,26-100,No,Yes,No,No,Bipolar disorder

In [92]:
us_tech_mental_clean.to_csv('us_tech_mental_clean.csv', index=False)

In [53]:
student['Timestamp'].unique() #remove this

array(['8/7/2020 12:02', '8/7/2020 12:04', '8/7/2020 12:05',
       '8/7/2020 12:06', '8/7/2020 12:13', '8/7/2020 12:31',
       '8/7/2020 12:32', '8/7/2020 12:33', '8/7/2020 12:35',
       '8/7/2020 12:39', '8/7/2020 12:40', '8/7/2020 12:41',
       '8/7/2020 12:43', '8/7/2020 12:46', '8/7/2020 12:52',
       '8/7/2020 13:05', '8/7/2020 13:07', '8/7/2020 13:12',
       '8/7/2020 13:13', '8/7/2020 13:15', '8/7/2020 13:17',
       '8/7/2020 13:29', '8/7/2020 13:35', '8/7/2020 13:41',
       '8/7/2020 13:58', '8/7/2020 14:05', '8/7/2020 14:27',
       '8/7/2020 14:29', '8/7/2020 14:31', '8/7/2020 14:41',
       '8/7/2020 14:43', '8/7/2020 14:45', '8/7/2020 14:47',
       '8/7/2020 14:56', '8/7/2020 14:57', '8/7/2020 14:58',
       '8/7/2020 15:07', '8/7/2020 15:08', '8/7/2020 15:09',
       '8/7/2020 15:12', '8/7/2020 15:14', '8/7/2020 15:18',
       '8/7/2020 15:27', '8/7/2020 15:37', '8/7/2020 15:47',
       '8/7/2020 15:48', '8/7/2020 15:57', '8/7/2020 15:58',
       '8/7/2020 16:08', '8/7/2020 16:21', '8/7/2020 16:22',
       '8/7/2020 16:34', '8/7/2020 16:53', '8/7/2020 17:05',
       '8/7/2020 17:37', '8/7/2020 17:46', '8/7/2020 17:50',
       '8/7/2020 18:10', '8/7/2020 18:11', '8/7/2020 19:05',
       '8/7/2020 19:32', '8/7/2020 20:36', '8/7/2020 21:21',
       '8/7/2020 22:35', '9/7/2020 6:57', '9/7/2020 11:43',
       '9/7/2020 11:57', '9/7/2020 13:15', '9/7/2020 18:24',
       '13/07/2020 10:07:32', '13/07/2020 10:10:30',
       '13/07/2020 10:11:26', '13/07/2020 10:12:18',
       '13/07/2020 10:12:26', '13/07/2020 10:12:28',
       '13/07/2020 10:14:46', '13/07/2020 10:33:47',
       '13/07/2020 10:34:08', '13/07/2020 11:46:13',
       '13/07/2020 11:49:02', '13/07/2020 11:54:58',
       '13/07/2020 13:57:11', '13/07/2020 14:38:12',
       '13/07/2020 14:48:05', '13/07/2020 16:15:13',
       '13/07/2020 17:30:44', '13/07/2020 19:08:32',
       '13/07/2020 19:56:49', '13/07/2020 21:21:42',
       '13/07/2020 21:22:56', '13/07/2020 21:23:57',
       '18/07/2020 20:16:21'], dtype=object)

In [7]:
student['What is your course?'].unique() #need to rename the columns

array(['Engineering', 'Islamic education', 'BIT', 'Laws', 'Mathemathics',
       'Pendidikan islam', 'BCS', 'Human Resources', 'Irkhs',
       'Psychology', 'KENMS', 'Accounting ', 'ENM', 'Marine science',
       'KOE', 'Banking Studies', 'Business Administration', 'Law',
       'KIRKHS', 'Usuluddin ', 'TAASL', 'Engine', 'ALA',
       'Biomedical science', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT', 'CTS',
       'engin', 'Econs', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Pendidikan Islam ', 'Radiography', 'psychology', 'Fiqh fatwa ',
       'DIPLOMA TESL', 'Koe', 'Fiqh', 'Islamic Education', 'Nursing ',
       'Pendidikan Islam'], dtype=object)

In [50]:
# Rewriting column names for student, some are repetitive 
student['What is your course?'].replace({'psychology': 'Psychology', 'Pendidikan Islam ': 'Islamic Studies', 'Pendidikan Islam': 'Islamic Studies', 'Islamic education': 'Islamic Studies', 'Islamic Education': 'Islamic Studies', 'engin': 'Engineering', 'Econs': 'Economics', 'Marine science': 'Marine Sciences',
                                  'Biomedical science':'Biomedical Sciences', 'Engine': 'Engineering','Pendidikan islam':'Islamic Studies', 'Laws':'Law'
                                        
                                        
                                        
                                        }, inplace=True)

In [51]:
student['What is your course?'].unique()

array(['Engineering', 'Islamic Studies', 'BIT', 'Law', 'Mathemathics',
       'BCS', 'Human Resources', 'Irkhs', 'Psychology', 'KENMS',
       'Accounting ', 'ENM', 'Marine Sciences', 'KOE', 'Banking Studies',
       'Business Administration', 'KIRKHS', 'Usuluddin ', 'TAASL', 'ALA',
       'Biomedical Sciences', 'koe', 'Kirkhs', 'BENL', 'Benl', 'IT',
       'CTS', 'Economics', 'MHSC', 'Malcom', 'Kop', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Radiography', 'Fiqh fatwa ', 'DIPLOMA TESL', 'Koe', 'Fiqh',
       'Nursing '], dtype=object)

In [52]:
# Drop rows where the value in column 'C' is 'X' or 'Y'
df = df[(df['C'] != 'X') & (df['C'] != 'Y')] # this logic helps me figure out on how to do this

NameError: name 'df' is not defined

In [53]:
student = student[(student['What is your course?'] != 'BIT') & (student['What is your course?'] != 'BCS')]

In [54]:
student = student[(student['What is your course?'] != 'Irkhs') & (student['What is your course?'] != 'KENMS')]

In [55]:
student = student[(student['What is your course?'] != 'BIT') & (student['What is your course?'] != 'BCS') & (student['What is your course?'] != 'Irkhs') & (student['What is your course?'] != 'KENMS') & (student['What is your course?'] != 'ENM') & (student['What is your course?'] != 'KOE')& (student['What is your course?'] != 'KIRKHS')& (student['What is your course?'] != 'Usuluddin ') & (student['What is your course?'] != 'TAASL')  & (student['What is your course?'] != 'ALA')& (student['What is your course?'] != 'koe')  & (student['What is your course?'] != 'Kirkhs')  & (student['What is your course?'] != 'BENL')& (student['What is your course?'] != 'Benl') & (student['What is your course?'] != 'IT')& (student['What is your course?'] != 'CTS') & (student['What is your course?'] != 'MHSC') & (student['What is your course?'] != 'Malcom') & (student['What is your course?'] != 'Kop') & (student['What is your course?'] != 'Fiqh fatwa ') & (student['What is your course?'] != 'DIPLOMA TESL') & (student['What is your course?'] != 'Koe') & (student['What is your course?'] != 'Fiqh')]

In [56]:
student['What is your course?'].unique() # a much cleaner category 
# ^^ i decided to do these in segments bc of how long the list of names is - first had an error when i wanted to do all of them at once because i forgot to add in a parentehses somewhere

array(['Engineering', 'Islamic Studies', 'Law', 'Mathemathics',
       'Human Resources', 'Psychology', 'Accounting ', 'Marine Sciences',
       'Banking Studies', 'Business Administration',
       'Biomedical Sciences', 'Economics', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Radiography', 'Nursing '], dtype=object)

In [57]:
student['What is your course?'].unique()

array(['Engineering', 'Islamic Studies', 'Law', 'Mathemathics',
       'Human Resources', 'Psychology', 'Accounting ', 'Marine Sciences',
       'Banking Studies', 'Business Administration',
       'Biomedical Sciences', 'Economics', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Radiography', 'Nursing '], dtype=object)

In [ ]:
# dropping unnecessary column names 
# some are hard to decypher and figure out,

In [58]:
student.head(3)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic Studies,year 2,3.00 - 3.49,No,No,Yes,No,No
3,8/7/2020 12:06,Female,22.0,Law,year 3,3.00 - 3.49,Yes,Yes,No,No,No

In [59]:
# Remove the pattern "year" or "Year" from the 'Date' column
student['Your current year of Study'] = student['Your current year of Study'].str.replace(r'\s*year\s*', '', case=False)

<ipython-input-59-ca0c4582b3ab>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  student['Your current year of Study'] = student['Your current year of Study'].str.replace(r'\s*year\s*', '', case=False)

In [60]:
student.head(3)

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/2020 12:02,Female,18.0,Engineering,1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic Studies,2,3.00 - 3.49,No,No,Yes,No,No
3,8/7/2020 12:06,Female,22.0,Law,3,3.00 - 3.49,Yes,Yes,No,No,No

In [61]:
# dropping uncessary column names for my visualization


student.drop(columns=['Marital status','Timestamp'], axis=1, inplace=True)

In [62]:
# Remove NaN values in place
student.dropna(inplace=True)

In [63]:
student['What is your course?'].unique()

array(['Engineering', 'Islamic Studies', 'Law', 'Mathemathics',
       'Human Resources', 'Psychology', 'Accounting ', 'Marine Sciences',
       'Banking Studies', 'Business Administration',
       'Biomedical Sciences', 'Economics', 'Human Sciences ',
       'Biotechnology', 'Communication ', 'Diploma Nursing',
       'Radiography', 'Nursing '], dtype=object)

In [64]:
# Define a mapping of old values to new values
major_mapping = {'Engineering': 'STEM', 'Islamic Studies': 'Humanities', 'Law': 'Social science',
               'Mathemathics': 'STEM','Marine Sciences': 'STEM','Communication ': 'Social science','Economics': 'Social science','Psychology': 'Social science',
               'Human Sciences ': 'Social science','Accounting ': 'Business','Banking Studies': 'Business',
               'Business Administration': 'Business',
               'Human Resources': 'Business',
                'Nursing ': 'Medical',
                'Diploma Nursing': 'Medical',
                'Biomedical Sciences': 'Medical',
                'Radiography': 'Medical STEM',
                'Biotechnology': 'Medical STEM'       
               }

# Assign new values to the 'City' column based on the mapping
student = student.assign(Major=student['What is your course?'].map(major_mapping))



# Round the 'Age' column to remove decimal places
student['Age'] = student['Age'].round(0)


# Display the updated DataFrame


new_column_names = {'Your current year of Study': 'Current year of Study', 'What is your CGPA?': 'Current GPA', 'Choose your gender' : 'Gender'}
student = student.rename(columns=new_column_names)

student_cleaned = student

In [ ]:
major_mapping = {'Engineering': 'STEM', 'Islamic Studies': 'Humanities', 'Law': 'Social science',
               'Mathemathics': 'STEM','Marine Sciences': 'STEM','Communication ': 'Social science','Economics': 'Social science','Psychology': 'Social science',
               'Human Sciences ': 'Social science','Accounting ': 'Business','Banking Studies': 'Business',
               'Business Administration': 'Business',
               'Human Resources': 'Business',
                'Nursing ': 'Medical',
                'Diploma Nursing': 'Medical',
                'Biomedical Sciences': 'Medical',
                'Radiography': 'Medical STEM',
                'Biotechnology': 'Medical STEM'       
               }

In [61]:
student_cleaned.head(3)
student_cleaned.to_csv('student_cleaned.csv', index=False)

In [20]:
student_cleaned.head(3)

,Gender,Age,What is your course?,Current year of Study,Current GPA,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?,Major
0,Female,18.0,Engineering,1,3.00 - 3.49,Yes,No,Yes,No,STEM
1,Male,21.0,Islamic Studies,2,3.00 - 3.49,No,Yes,No,No,Humanities
3,Female,22.0,Law,3,3.00 - 3.49,Yes,No,No,No,Social science

In [ ]:
# find the common factor 

# predict if age, major/course, or if diff stage in life contriute to mental health

In [ ]:
# 'Marital status'- i dont think we need this then

In [62]:
# student.drop('Timestamp', axis=1, inplace=True)

In [ ]:
# The surveys in the student's mental health dataset and tech industry datasets are taken at different periods

# Tech (2014) - 6 years prior covid

# Students (2020) - time of covid 

# How does students' mental health statuses compare with tech industry employees?

# Is their a mental health correlation of tech major students and employees in the tech industry?

# What are the main factors that have a strong impact on both students and employees?

# My main goal is to see whether

In [52]:
us_tech_mental.to_csv('us_tech_mental2.csv', index=False) # exporting them in .csv files for data visualization

In [40]:
student.to_csv('student2.csv', index=False)